
suppress.val
/lld-link.exe
out.txt

debug
dist
valk
valk2
valk3
*.Indentifier
**/*.Indentifier
callgrind.*
toolchains/libraries
*.xz
*.gz

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.Identifier

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

